<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Login</h1>
            <form [formGroup]="form" class="form-border">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="username" placeholder="Username" formControlName="username">
                    </div>
                </div>
                <div class="row m-t-5">
                    <div class="col-md-6">
                        <input type="password" id="password" placeholder="Password" formControlName="password">
                    </div>
                </div>
                <div class="row m-t-5">
                    <div class="col-md-3">
                        <button type="submit" (click)="login()" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                </div>
                <div class="row m-t-5">
                    <div class="col">
                        <span>Don't have Account?</span> <a routerLink="/register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>